/* left col */
#left_col {
    height: 100vh;
    min-height: 513px;
    background-color: rgb(45, 50, 56);
}
#user_avatar_placeholder {
    -webkit-box-shadow: 0 0 5px rgb(148, 219, 255);
    -moz-box-shadow: 0 0 5px rgb(148, 219, 255);
    box-shadow: 0 0 5px rgb(148, 219, 255);
}
#settings_button_placeholder {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

/* mid col */
#mid_col {
    height: 100vh;
    width: 205px;
    min-height: 513px;
    background-color: rgb(249, 249, 249);
    border-right: thin solid rgb(226, 226, 226);
}
#search_panel {
    width: inherit;
    border-bottom: thin solid rgb(226, 226, 226);
    padding: 10px;
}
#search_input {
    font-size: small;
    margin-right: 10px;
    display: inline-block;
}

/* right col */
#right_col {
    height: 100vh;
    min-height: 513px;
    background-color: rgb(243, 243, 243);
}
#msg_display_header {
    border-bottom: thin solid rgb(226, 226, 226);
    padding-left: 10px;
    padding-right: 10px;
}
#msg_display_window {
    min-height: 300px;
    border-bottom: thin solid rgb(226, 226, 226);
}
#msg_typing_window {
    height: 20vh;
    min-height: 167px;
}
#msg_typing_area {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#msg_typing_input {
    background-color: transparent;
    resize: none;
    overflow-y: auto;
    border: none;
}
#msg_typing_input:focus {
    outline: none;
}
#msg_send_btn_placeholder {
    height: 50px;
}
#msg_send_btn {
    height: 30px;
    width: 50px;
    border: none;
    background-color: rgb(0, 172, 72);
    position: absolute;
    right: 0;
    margin: 10px;
}
#msg_send_btn:active {
    border: none;
    background-color: rgb(0, 150, 30);
}
#login_info_placeholder {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
#login_info_username_placeholder {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}
#info_placeholder {
    padding: 10px;
}
#start_chat_btn_placeholder {
    padding-top: 10px;
    padding-bottom: 10px;
}
#start_chat_btn {
    border: none;
    background-color: rgb(0, 198, 61);
}
#start_chat_btn:active {
    border: none;
    background-color: rgb(0, 178, 55);
}
#log_out_btn {
    background-color: rgb(230, 30, 30);
    border: none;
    margin: 10px;
}
#log_out_btn:active {
    background-color: rgb(190, 30, 30);
    border: none;
    margin: 10px;
}

/* classes */
/* overall */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    padding: 0;
    margin: 0;
}
.container-fluid {
    height: 100vh;
    width: 100vw;
    min-width: 800px;
    padding: 0;
    margin: 0;
}
.btn-outline-secondary {
    border: none;
    display: block;
    padding: 0;
}
.btn-outline-secondary:hover {
    background-color: transparent;
    border: none;
}
.btn-outline-secondary:active {
    background-color: gray;
}

/* left col */
.left_btn {
    height: 50px;
    width: 50px;
    margin: 10px;
    border: none;
}
.avatar_placeholder {
    border-radius: 5px;
}
.avatar_img {
    border-radius: 5px;
    margin-right: 10px;
}
.left_btn_img {
    width: 50px;
    height: 50px;
}
.list {
    padding: 0;
    list-style-type: none;
}
.avatar_placeholder {
    height: 50px;
    width: 50px;
    margin: 10px;
}

/* mid col */
.search_add_btn {
    padding: 5px;
}
.search_add_btn_img {
    display: block;
}
.contact_placeholder {
    padding: 10px;
    display: block;
    border-bottom: thin solid rgb(236, 236, 236);
}
.bulletin_name_col {
    display: table-cell;
    vertical-align: top;
}
.delete_chat_btn {
    display: none;
}
.bulletin_chats:hover .delete_chat_btn {
    display: block;
}
.bulletin_contact_avatar {
    padding-right: 10px;
}
.friend_list {
    height: 100px;
    overflow-y: auto;
}

/* right col */
.info_cate {
    color: dimgray;
    display: inline-block;
    margin-right: 5px;
}

img {
    display: block;
}