{% load staticfiles %}

<div id="search_panel">
	<div class="row no-gutters align-items-center">
		<input id="search_input" class="col-auto" type="text" title=none>
		<div id="search_btn_placeholder" class="col-auto search_add_placeholder">
			<button id="search_btn" class="btn btn-outline-secondary search_add_btn">
				<img class="search_add_btn_img" src="{% static 'img/search.png' %}"/>
			</button>
		</div>
		<div id="add_btn_placeholder" class="col-auto search_add_placeholder" style="display: none">
			<button id="add_btn" class="btn btn-outline-secondary search_add_btn">
				<img class="search_add_btn_img" src="{% static 'img/add.png' %}"/>
			</button>
		</div>
	</div>
</div>
<div id="chat_list_panel" class="friend_list">
    {% for chat in chat_list %}
	    <div id="bulletin_chat" class="bulletin_chats contact_placeholder">
	        <table>
		        <tr>
			        <td class="bulletin_chat_col bulletin_chat_avatar_col">
				        <input class="bulletin_chat_username" type="hidden" value="{{ chat.chat_user.contact_user.username }}">
			            {% if not chat.chat_user.contact_user.avatar %}
							<img class="avatar_img" src="https://api.adorable.io/avatars/50/{{ chat.chat_user.contact_user.username }}"/>
						{% else %}
							<img class="avatar_img" src={{ chat.chat_user.contact_user.avatar }}/>
						{% endif %}
			        </td>
		            <td id="bulletin_chat_remarkname_placeholder" class="bulletin_chat_col bulletin_name_col">
			            {{ chat.chat_user.contact_remarkname }}
		            </td>
		            <td class="bulletin_chat_col bulletin_chat_delete_col">
			            <button class="btn btn-outline-secondary delete_chat_btn">
				            <img src="{% static 'img/close.png' %}">
			            </button>
		            </td>
		        </tr>
	        </table>
        </div>
    {% endfor %}
</div>
<div id="contact_list_panel" class="friend_list" style="display: none">
    {% for contact_obj in user_contacts %}
	    <div id="bulletin_contact" class="bulletin_contacts contact_placeholder">
	        <table>
		        <tr>
			        <td>
				        {% if not contact_obj.contact_user.avatar %}
							<img class="avatar_img" src="https://api.adorable.io/avatars/50/{{ contact_obj.contact_user.username }}"/>
						{% else %}
							<img class="avatar_img" src={{ contact_obj.contact_user.avatar }}/>
						{% endif %}
			        </td>
		            <td class="bulletin_name_col">
			            {{ contact_obj.contact_remarkname }}
		            </td>
		        </tr>
	        </table>
	        <input class="bulletin_contact_username" type="hidden" value="{{ contact_obj.contact_user.username }}">
        </div>
    {% endfor %}
</div>