{% load staticfiles %}

<div id="user_avatar_placeholder" class="avatar_placeholder">
{#    <p>{{ username }}</p>#}
{#	<img src="{% static 'img/avatar_default.png' %}"/>#}
	{% if not avatar %}
		<img class="avatar_img" src="http://api.adorable.io/avatar/50/{{ username }}"/>
	{% else %}
		<img class="avatar_img" src={{ avatar }}/>
	{% endif %}
</div>
<div id="chat_button_placeholder">
    <button id="chat_list_btn" class="btn btn-outline-primary btn-sm left_btn active">
	    <img src="{% static 'img/chat.png' %}"/>
{#	    <div>Icons made by <a href="https://www.flaticon.com/authors/iconnice" title="Iconnice">Iconnice</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>#}
    </button>
</div>
<div id="contact_button_placeholder">
    <button id="contact_list_btn" class="btn btn-outline-primary btn-sm left_btn">
        <img src="{% static 'img/contact.png' %}"/>
{#	    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>#}
    </button>
</div>
<div id="settings_button_placeholder">
	<button id="settings_btn" class="btn btn-outline-primary btn-sm left_btn">
		<img src="{% static 'img/settings.png' %}"/>
{#		    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>#}
	</button>
</div>