{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'js.html' %}
	{% include 'css.html' %}
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="{% static 'registration/register.css' %}">
	<script src="{% static 'registration/register.js' %}"></script>
</head>
<body>
	<div class="container-fluid">
		<div id="header_row" class="row">
			<div class="col"></div>
			<div class="col"><h1>Sign Up</h1></div>
			<div class="col"></div>
		</div>
		<div id="content_row" class="row">
			<div class="col"></div>
			<div class="col">
				<div id="register_error_msg">
					{% if errors %}
						{{ errors }}
					{% endif %}
				</div>
				<form id="register_form" method="post" action="{% url 'register' %}"> {% csrf_token %}
					<table>
					<tr>
					    <td><div class="register_title">Username:</div><div class="required_filed_indicator">*</div></td>
					    <td class="value_td">
						    <input id="username_input" class="register_input" name="username" type="text" title="username" autocomplete="off" required>
					    </td>
						<td>
							<div id="username_valid_indicator" class="register_validation_indicator"><img src="{% static 'img/valid.png' %}"></div>
							<div id="username_invalid_indicator" class="register_validation_indicator"><img src="{% static 'img/invalid.png' %}"></div>
						</td>
					</tr>
					<tr>
					    <td><div class="register_title">Password:</div><div class="required_filed_indicator">*</div></td>
					    <td class="value_td">
						    <input id="pswd_input" class="register_input" name="password1" type="password" title="password" required>
					    </td>
						<td>
							<div id="pswd_valid_indicator" class="register_validation_indicator"><img src="{% static 'img/valid.png' %}"></div>
							<div id="pswd_invalid_indicator" class="register_validation_indicator"><img src="{% static 'img/invalid.png' %}"></div>
						</td>
					</tr>
					<tr>
					    <td><div class="register_title">Confirm password:</div><div class="required_filed_indicator">*</div></td>
					    <td class="value_td">
						    <input id="confirm_pswd_input" class="register_input" name="password2" type="password" title="password" required>
					    </td>
						<td>
							<div id="confirm_pswd_valid_indicator" class="register_validation_indicator"><img src="{% static 'img/valid.png' %}"></div>
							<div id="confirm_pswd_invalid_indicator" class="register_validation_indicator"><img src="{% static 'img/invalid.png' %}"></div>
						</td>
					</tr>
					<tr>
					    <td><div class="register_title">E-mail:</div><div class="required_filed_indicator">*</div></td>
					    <td class="value_td"><input id="email_input" class="register_input" name="email" type="email" title="email" autocomplete="off" required></td>
						<td>
							<div id="email_valid_indicator" class="register_validation_indicator"><img src="{% static 'img/valid.png' %}"></div>
							<div id="email_invalid_indicator" class="register_validation_indicator"><img src="{% static 'img/invalid.png' %}"></div>
						</td>
					</tr>
					<tr>
						<td><div class="register_title">Gender:</div></td>
						<td class="value_td">
							<div class="gender_title">Male</div><input class="register_input gender_input" name="gender" type="radio" title="gender-m" value="M">
							<div class="gender_title">Female</div><input class="register_input gender_input" name="gender" type="radio" title="gender-f" value="F">
						</td>
					</tr>
					</table>
					<div id="register_btn_row" class="row align-items-center no-gutters">
						<div id="submit_btn_placeholder" class="col-auto">
							<input id="submit_btn" class="btn btn-primary" type="submit" value="Sign Up"/>
						</div>
						<div class="col-auto" style="margin-left: 10px">
							Already has an account?
						</div>
						<div class="col-auto" style="margin-left: 5px">
							<a id="login_href" href="/login/?next=/">Log in</a>
						</div>
					</div>
					<input type="hidden" name="next" value="{{ next }}"/>
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>
</body>
</html>